<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Govt Supported Scheme  Grounding District Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="districtLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Mandal</th>
              <th>Applications</th>
              <th>Applications Submitted By AH</th>
              <th>Loans Sanctioned By Bankers</th>
              <th>Animal Grounding</th>
              <th>Rejected</th>
            </tr>
          </thead>
          <tbody *ngIf="districtLevelDetails?.length > 0">
            <tr *ngFor="let obj of districtLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.MANDAL_NAME }}</b></a
                >
              </td>
              <td>{{ obj.TOTAL_APPLICATIONS | indianNumber }}</td>
              <td>{{ obj.APPLICATION_SUBMITED_BY_AHDEPT | indianNumber }}</td>
              <td>{{ obj.LOAN_SANCTION_BYTHE_BANKERS | indianNumber }}</td>
              <td>{{ obj.ANIMAL_GROUNDING | indianNumber }}</td>
              <td>{{ obj.REJECTED | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="districtLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_APPLICATIONS | indianNumber }}</td>
              <td>
                {{ reportTotals.APPLICATION_SUBMITED_BY_AHDEPT | indianNumber }}
              </td>
              <td>
                {{ reportTotals.LOAN_SANCTION_BYTHE_BANKERS | indianNumber }}
              </td>
              <td>{{ reportTotals.ANIMAL_GROUNDING | indianNumber }}</td>
              <td>{{ reportTotals.REJECTED | indianNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
