<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Calibration Detail Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-4">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Mentor : </b><span class="text-success">{{ mentorName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>

      <div
        class="col-md-12 table-responsive"
        [hidden]="calibrationDetails?.length < 1"
      >
        <table
          class="table table-bordered ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th rowspan="2">S.No.</th>
              <th rowspan="2">Village</th>
              <th rowspan="2">AMC ID</th>
              <th rowspan="2">AMCU ID</th>
              <th rowspan="2">Route ID</th>
              <th rowspan="2">Inspection Date</th>
              <th rowspan="2">Inspection Time</th>
              <th colspan="5">Desktop</th>
              <th colspan="4">CPU</th>
              <th colspan="4">Mouse</th>
              <th colspan="4">Keyboard</th>
              <th colspan="4">UPS</th>
              <th colspan="4">Ultrasonic Milk Analyzer</th>
              <th colspan="5">Electronic Weight Scale</th>
              <th colspan="4">UPS 1KVA</th>
              <th colspan="3">Battery</th>
              <th colspan="5">Remote Display Unit</th>
              <th colspan="5">24PIN 80 COL Matrix Printer</th>
              <th colspan="5">Ultrasonic Stirrer</th>
              <th rowspan="2">Cow Milk FAT</th>
              <th rowspan="2">Cow Milk SNF</th>
              <th rowspan="2">Buffalo Milk FAT</th>
              <th rowspan="2">Buffalo Milk SNF</th>
              <th colspan="4">Internet Device</th>
            </tr>
            <tr>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Availability</th>
              <th>Image</th>
              <th>Code</th>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Availability</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
              <th>Code</th>
              <th>Device</th>
              <th>Maker</th>
              <th>Serial No</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody *ngIf="calibrationDetails?.length > 0">
            <tr *ngFor="let obj of calibrationDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.VILLAGE_NAME }}</td>
              <td>{{ obj.AMC_ID }}</td>
              <td>{{ obj.AMCU_ID }}</td>
              <td>{{ obj.ROUTE_NAME }}</td>
              <td>{{ obj.INSPECTION_DATE }}</td>
              <td>{{ obj.INSPECTION_TIME }}</td>
              <td>{{ obj.IS_DESKTOP_AVILABLE === "1" ? "YES" : "NO" }}</td>
              <td>{{ obj.DESKTOP_MAKER }}</td>
              <td>{{ obj.DESKTOP_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_DESKTOP !== null &&
                    obj.IMG_DESKTOP !== '' &&
                    obj.IMG_DESKTOP !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_DESKTOP)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_DESKTOP === null ||
                    obj.IMG_DESKTOP === '' ||
                    obj.IMG_DESKTOP === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_DESKTOP_CODE }}</td>
              <td>{{ obj.CPU_MAKER }}</td>
              <td>{{ obj.CPU_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_CPU !== null &&
                    obj.IMG_CPU !== '' &&
                    obj.IMG_CPU !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_CPU)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_CPU === null ||
                    obj.IMG_CPU === '' ||
                    obj.IMG_CPU === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_CPU_CODE }}</td>
              <td>{{ obj.MOUSE_MAKER }}</td>
              <td>{{ obj.MOUSE_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_MOUSE !== null &&
                    obj.IMG_MOUSE !== '' &&
                    obj.IMG_MOUSE !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_MOUSE)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_MOUSE === null ||
                    obj.IMG_MOUSE === '' ||
                    obj.IMG_MOUSE === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_MOUSE_CODE }}</td>
              <td>{{ obj.KEYBOARD_MAKER }}</td>
              <td>{{ obj.KEYBOARD_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_KEYBOARD !== null &&
                    obj.IMG_KEYBOARD !== '' &&
                    obj.IMG_KEYBOARD !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_KEYBOARD)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_KEYBOARD === null ||
                    obj.IMG_KEYBOARD === '' ||
                    obj.IMG_KEYBOARD === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_KEYBOARD_CODE }}</td>
              <td>{{ obj.UPS_MAKER }}</td>
              <td>{{ obj.UPS_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_UPS !== null &&
                    obj.IMG_UPS !== '' &&
                    obj.IMG_UPS !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_UPS)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_UPS === null ||
                    obj.IMG_UPS === '' ||
                    obj.IMG_UPS === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_UPS_CODE }}</td>
              <td>
                {{ obj.IS_ULTRASONIC_MILK_ANALYSER === "1" ? "YES" : "NO" }}
              </td>
              <td>{{ obj.ULTRASONIC_MILK_ANALYSER_MAKER }}</td>
              <td>{{ obj.ULTRASONIC_MILK_ANAL_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.ULTRASONIC_MILK_ANALYSER_IMG !== null &&
                    obj.ULTRASONIC_MILK_ANALYSER_IMG !== '' &&
                    obj.ULTRASONIC_MILK_ANALYSER_IMG !== undefined
                  "
                  (click)="btnPhotoView(obj.ULTRASONIC_MILK_ANALYSER_IMG)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.ULTRASONIC_MILK_ANALYSER_IMG === null ||
                    obj.ULTRASONIC_MILK_ANALYSER_IMG === '' ||
                    obj.ULTRASONIC_MILK_ANALYSER_IMG === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.IS_ELE_WEIGHT_SCALE === "1" ? "YES" : "NO" }}</td>
              <td>{{ obj.ELE_WEIGHT_SCALE_MAKER }}</td>
              <td>{{ obj.ELE_WEIGHT_SCALE_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_ELE_WEIGHT_SCALE !== null &&
                    obj.IMG_ELE_WEIGHT_SCALE !== '' &&
                    obj.IMG_ELE_WEIGHT_SCALE !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_ELE_WEIGHT_SCALE)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_ELE_WEIGHT_SCALE === null ||
                    obj.IMG_ELE_WEIGHT_SCALE === '' ||
                    obj.IMG_ELE_WEIGHT_SCALE === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_ELE_WEIGHT_SCALE_CODE }}</td>
              <td>{{ obj.IS_UPS_1KVA === "1" ? "YES" : "NO" }}</td>
              <td>{{ obj.UPS_1KVA_MAKER }}</td>
              <td>{{ obj.UPS_1KVA_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IS_UPS_1KVA_IMG !== null &&
                    obj.IS_UPS_1KVA_IMG !== '' &&
                    obj.IS_UPS_1KVA_IMG !== undefined
                  "
                  (click)="btnPhotoView(obj.IS_UPS_1KVA_IMG)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IS_UPS_1KVA_IMG === null ||
                    obj.IS_UPS_1KVA_IMG === '' ||
                    obj.IS_UPS_1KVA_IMG === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.IS_BATTERY === "1" ? "YES" : "NO" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_BATTERY !== null &&
                    obj.IMG_BATTERY !== '' &&
                    obj.IMG_BATTERY !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_BATTERY)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_BATTERY === null ||
                    obj.IMG_BATTERY === '' ||
                    obj.IMG_BATTERY === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_BATTERY_CODE }}</td>
              <td>{{ obj.IS_REMOTE_DISPLAY_UINT === "1" ? "YES" : "NO" }}</td>
              <td>{{ obj.REMOTE_DISPLAY_UINT_MAKER }}</td>
              <td>{{ obj.REMOTE_DISPLAY_UINT_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_REMOTE_DISPALY !== null &&
                    obj.IMG_REMOTE_DISPALY !== '' &&
                    obj.IMG_REMOTE_DISPALY !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_REMOTE_DISPALY)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_REMOTE_DISPALY === null ||
                    obj.IMG_REMOTE_DISPALY === '' ||
                    obj.IMG_REMOTE_DISPALY === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_REMOTE_DISPALY_CODE }}</td>
              <td>
                {{ obj.IS_24PIN_80COL_MATRIX_PRINTER === "1" ? "YES" : "NO" }}
              </td>
              <td>{{ obj.MARTIX_PRINTER_MAKER }}</td>
              <td>{{ obj.MATRIX_PRINTER_SERIALNO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_MATRIX_PRINTER !== null &&
                    obj.IMG_MATRIX_PRINTER !== '' &&
                    obj.IMG_MATRIX_PRINTER !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_MATRIX_PRINTER)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_MATRIX_PRINTER === null ||
                    obj.IMG_MATRIX_PRINTER === '' ||
                    obj.IMG_MATRIX_PRINTER === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_MATRIX_PRINTER_CODE }}</td>
              <td>{{ obj.IS_ULTRASONIC_STIRRER === "1" ? "YES" : "NO" }}</td>
              <td>{{ obj.ULTRASONIC_STIRRER_MAKER }}</td>
              <td>{{ obj.ULTRASONIC_STIRRER_SERIALNO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.IMG_ULTRASONIC_STIRRER !== null &&
                    obj.IMG_ULTRASONIC_STIRRER !== '' &&
                    obj.IMG_ULTRASONIC_STIRRER !== undefined
                  "
                  (click)="btnPhotoView(obj.IMG_ULTRASONIC_STIRRER)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.IMG_ULTRASONIC_STIRRER === null ||
                    obj.IMG_ULTRASONIC_STIRRER === '' ||
                    obj.IMG_ULTRASONIC_STIRRER === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.DEV_ULTRASONIC_STIRRER_CODE }}</td>
              <td>{{ obj.COW_MILK_FAT }}</td>
              <td>{{ obj.COW_MILK_SNF }}</td>
              <td>{{ obj.BUFFALO_MILK_FAT }}</td>
              <td>{{ obj.BUFFALO_MILK_SNF }}</td>
              <td>
                <span *ngIf="obj.INTERNET_DEVICE === '0'"> NO </span>
                <span *ngIf="obj.INTERNET_DEVICE === '1'"> DONGLE </span>
                <span *ngIf="obj.INTERNET_DEVICE === '2'"> MODEM </span>
              </td>
              <td>{{ obj.INTERNET_DEVICE_MAKER }}</td>
              <td>{{ obj.INTERNET_DEVICE_SERIAL_NO }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.INTERNET_DEVICE_IMG !== null &&
                    obj.INTERNET_DEVICE_IMG !== '' &&
                    obj.INTERNET_DEVICE_IMG !== undefined
                  "
                  (click)="btnPhotoView(obj.INTERNET_DEVICE_IMG)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.INTERNET_DEVICE_IMG === null ||
                    obj.INTERNET_DEVICE_IMG === '' ||
                    obj.INTERNET_DEVICE_IMG === undefined
                  "
                  >NA</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
