<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Govt Supported Scheme  Grounding Mandal Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-6">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-6">
        <h5>
          <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="mandalLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>RBK</th>
              <th>Applications</th>
              <th>Applications Submitted By AH</th>
              <th>Loans Sanctioned By Bankers</th>
              <th>Animal Grounding</th>
              <th>Rejected</th>
            </tr>
          </thead>
          <tbody *ngIf="mandalLevelDetails?.length > 0">
            <tr *ngFor="let obj of mandalLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.SECRETARIAT_NAME }}</td>
              <td>{{ obj.TOTAL_APPLICATIONS | indianNumber }}</td>
              <td>
                <a
                  *ngIf="obj.APPLICATION_SUBMITED_BY_AHDEPT !== '0'"
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj, '0')"
                  ><b>{{
                    obj.APPLICATION_SUBMITED_BY_AHDEPT | indianNumber
                  }}</b></a
                >
                <span *ngIf="obj.APPLICATION_SUBMITED_BY_AHDEPT === '0'">{{
                  obj.APPLICATION_SUBMITED_BY_AHDEPT
                }}</span>
              </td>
              <td>
                <a
                  *ngIf="obj.LOAN_SANCTION_BYTHE_BANKERS !== '0'"
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj, '1')"
                  ><b>{{
                    obj.LOAN_SANCTION_BYTHE_BANKERS | indianNumber
                  }}</b></a
                >
                <span *ngIf="obj.LOAN_SANCTION_BYTHE_BANKERS === '0'">{{
                  obj.LOAN_SANCTION_BYTHE_BANKERS
                }}</span>
              </td>
              <td>
                <a
                  *ngIf="obj.ANIMAL_GROUNDING !== '0'"
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj, '2')"
                  ><b>{{ obj.ANIMAL_GROUNDING | indianNumber }}</b></a
                >
                <span *ngIf="obj.ANIMAL_GROUNDING === '0'">{{
                  obj.ANIMAL_GROUNDING
                }}</span>
              </td>
              <td>
                <a
                  *ngIf="obj.REJECTED !== '0'"
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj, '3')"
                  ><b>{{ obj.REJECTED | indianNumber }}</b></a
                >
                <span *ngIf="obj.REJECTED === '0'">{{ obj.REJECTED }}</span>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="mandalLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_APPLICATIONS | indianNumber }}</td>
              <td>
                {{ reportTotals.APPLICATION_SUBMITED_BY_AHDEPT | indianNumber }}
              </td>
              <td>
                {{ reportTotals.LOAN_SANCTION_BYTHE_BANKERS | indianNumber }}
              </td>
              <td>{{ reportTotals.ANIMAL_GROUNDING | indianNumber }}</td>
              <td>{{ reportTotals.REJECTED | indianNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
