<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Volunteer Farmer Registration District Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-12">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="districtLevelDetails?.length < 1"
      >
        <table
          class="table table-bordered ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th class="tableheader_color" rowspan="2">S.No.</th>
              <th class="tableheader_color" rowspan="2">Mandal</th>
              <th class="tableheader_color" rowspan="2">Routes</th>
              <th  class="tableheader_color" rowspan="2">RBKS</th>
              <th  class="tableheader_color" rowspan="2">Villages</th>
              <th  class="tableheader_color" rowspan="2">Volunteers</th>
              <th  class="tableheader_color" rowspan="2">Volunteers Logged In</th>
              <th  class="tableheader_color" colspan="4">Volunteers Surveyed House Holds</th>
              <th  class="tableheader_color" rowspan="2">Approved Farmers With Animals</th>
              <th  class="tableheader_color" rowspan="2">Approved Farmers Percentage</th>
              <th  class="tableheader_color" rowspan="2">No Of Animals Added</th>
              <th  class="tableheader_color" colspan="2">
                Volunteers Added Farmers As Per AH DEPT With Animals
              </th>
            </tr>
            <tr>
              <th class="tableheader_color" >Without Animals</th>
              <th class="tableheader_color" >With Animals</th>
              <th class="tableheader_color" >Migrated</th>
              <th class="tableheader_color" >Dead</th>

              <th class="tableheader_color" >AH DEPT Having With Animals</th>
              <th class="tableheader_color" >AH DEPT Without Animals</th>
            </tr>

            <tr >             
              <th  class="tableheader_color"  >(1)</th>
              <th  class="tableheader_color" >(2)</th>
              <th  class="tableheader_color" >(3)</th>
              <th  class="tableheader_color" >(4)</th>
              <th  class="tableheader_color" >(5)</th>
              <th  class="tableheader_color" >(6)</th>
              <th  class="tableheader_color" >(7)</th>
              <th  class="tableheader_color" >(8)</th>
              <th  class="tableheader_color" >(9)</th>
              <th  class="tableheader_color" >(10)</th>
              <th  class="tableheader_color"  >(11)</th>
              <th  class="tableheader_color" >(12)</th>
              <th  class="tableheader_color" >(13)</th>
              <th  class="tableheader_color" >(14)</th>
              <th  class="tableheader_color" >(15)</th>
              <th  class="tableheader_color" >(16)</th>
            </tr> 

          </thead>
          <tbody *ngIf="districtLevelDetails?.length > 0">
            <tr *ngFor="let obj of districtLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="text_align_color">
                <a
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.MANDAL_NAME }}</b></a
                >
              </td>
              <td class="number_align">{{ obj.TOTAL_ROUTE_NOS | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_RBK | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_VILLAGE | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_VOLUNTEERS | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_VV_LOGEDIN | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_FARMERS_WITH_OUT_AINM | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_FARMERS_WITH_AINM | indianNumber }}</td>

              <td class="number_align">{{ obj.MIGRATED | indianNumber }}</td>
              <td class="number_align">{{ obj.DEAD | indianNumber }}</td>

              <td class="number_align">{{ obj.TOTAL_APPROVED_FMR | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_APPROVED_FMR_PERCNT | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_ANIMALS | indianNumber }}</td>
              <td class="number_align">{{ obj.AH_DEPT_VV_ANM_YES | indianNumber }}</td>
              <td class="number_align">{{ obj.AH_DEPT_YES_VV_ANM_NO | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="districtLevelDetails?.length > 0" >
            <tr  >
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_ROUTE_NOS | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_RBK | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_VILLAGE | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_VOLUNTEERS | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_VV_LOGEDIN | indianNumber }}</td>
              <td class="font-weight-bold number_align"> {{ reportTotals.TOTAL_FARMERS_WITH_OUT_AINM | indianNumber }}     </td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_FARMERS_WITH_AINM | indianNumber }}</td>

              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_MIGRATED | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_DEAD | indianNumber }}</td>

              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_APPROVED_FMR | indianNumber }}</td>
              <td class="font-weight-bold number_align">
                {{ reportTotals.TOTAL_APPROVED_FMR_PERCNT | indianNumber }}
              </td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_ANIMALS | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.AH_DEPT_VV_ANM_YES | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.AH_DEPT_YES_VV_ANM_NO | indianNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
