<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Building Inspection Abstract Village Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="villageLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Village</th>
              <th>AMC ID</th>
              <th>Route ID</th>
              <th>Buildings</th>
              <th>Located In Center Of Village</th>
              <th>Safety Arrangements</th>
              <th>Electricity Connection</th>
              <th>Electricity Connection Eartherned</th>
              <th>Space For Vehicle Movement</th>
              <th>Available Road To Approach AMCU</th>
              <th>Network Connectivity</th>
            </tr>
          </thead>
          <tbody *ngIf="villageLevelDetails?.length > 0">
            <tr *ngFor="let obj of villageLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.VILLAGE_NAME }}</td>
              <td>{{ obj.AMC_ID }}</td>
              <td>{{ obj.ROUTE_NAME }}</td>
              <td>{{ obj.IS_AMCU_BUILDING }}</td>
              <td>{{ obj.IS_VILLAGE_LOCATED_IN_CENTERLY }}</td>
              <td>{{ obj.IS_SAFETY_ARRANGEMENTS }}</td>
              <td>{{ obj.IS_AVIL_ELECTRIC_CONNECTION }}</td>
              <td>{{ obj.IS_AVIL_ELECTRIC_EARTHING }}</td>
              <td>{{ obj.IS_AVIL_SPACE_VEHICAL_MOVMENT }}</td>
              <td>{{ obj.IS_AVIL_ROAD_TO_APPROCH_AMCU }}</td>
              <td>{{ obj.IS_HAVING_NETWORK_CONNECTIVITY }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
