<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Volunteer Aadhaar Check</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5 offset-3">
        <div class="form-group">
          <label> Volunteer Aadhaar </label>
          <!-- <input
            id="uidNumber"
            type="text"
            class="form-control"
            [(ngModel)]="uidNumber"
            placeholder="Please Enter Volunteer Aadhar"
            maxlength="12"
            autocomplete="off"
            (keypress)="numberOnly($event)"
          /> -->
          <input   
            id="uidNumber"
            type="password"
            class="form-control"
            [(ngModel)]="uidNumber"
            placeholder=" Please Enter Volunteer Aadhar "
            maxlength="12"
            autocomplete="off"
            (keypress)="numberOnly($event)"
              (keyup)="uidNummaskIputData($event.target.value)"
          />
        </div>
      </div>

      <div class="col-md-3 pt-4" align="left">
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="btnUidDetails()"
        >
          Get Details
        </button>
      </div>
    </div>

    <div
      *ngIf="
        personDetails.UID_NUM !== null &&
        personDetails.UID_NUM !== '' &&
        personDetails.UID_NUM !== undefined
      "
    >
      <h5 class="sub-heading pb-0">
        <label>Volunteer Details</label>
      </h5>

      <div class="row px-4">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              NAME :
              <span class="text-success">
                <b>{{ personDetails.VOLUNTEER_NAME }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              MOBILE :
              <span class="text-success">
                <b>{{ personDetails.VOLUNTEER_MOBILE }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label
              >DISTRICT :
              <span class="text-success">
                <b>{{ personDetails.DISTRICT_NAME }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label
              >MANDAL :
              <span class="text-success">
                <b>{{ personDetails.MANDAL_NAME }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label
              >SECRETARIAT :
              <span class="text-success">
                <b>{{ personDetails.SECRETARIAT_NAME }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label
              >CLUSTER :
              <span class="text-success">
                <b>{{ personDetails.CLUSTER_NAME }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label
              >LAST LOGIN TIME :
              <span class="text-success">
                <b>{{ personDetails.LAST_LOGIN_TIME }}</b>
              </span>
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label
              >UPDATE DATE :
              <span class="text-success">
                <b>{{ personDetails.UPDATE_DATE }}</b>
              </span>
            </label>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label
              >STATUS :
              <span class="text-danger">
                <b>{{ personDetails.MSG }}</b>
              </span>
            </label>
          </div>
        </div>

      </div>
    </div>
    <div class="row p-3" *ngIf="noDataMessage !== ''">
      <div class="col-md-12">
        <h5 class="text-center text-danger">{{ noDataMessage }}</h5>
      </div>
    </div>
  </div>
</div>
