<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">
      Farmer Invalid Bank Account Verification State Level Report
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="stateLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>District</th>
              <th>Invalid Accounts</th>
              <th>DA Verified</th>
              <th>Pending At DA</th>
              <th>Pending At Mentor</th>
              <th>Invalid Bank Account Aproved</th>
              <th>Invalid Bank Account Rejected</th>
            </tr>
          </thead>
          <tbody *ngIf="stateLevelDetails?.length > 0">
            <tr *ngFor="let obj of stateLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.DISTRICT }}</b></a
                >
              </td>
              <td>{{ obj.TOTAL_INVALID_ACCOUNTS | indianNumber }}</td>
              <td>{{ obj.TOTAL_DA_VERIFIED | indianNumber }}</td>
              <td>{{ obj.PENDING_AT_DA | indianNumber }}</td>
              <td>{{ obj.MENTOR_PENDING | indianNumber }}</td>
              <td>{{ obj.TOTAL_INVALID_BNK_ACC_APPROVED | indianNumber }}</td>
              <td>{{ obj.TOTAL_INVALID_BNK_ACC_REJECTED | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="stateLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_INVALID_ACCOUNTS | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_DA_VERIFIED | indianNumber }}</td>
              <td>{{ reportTotals.PENDING_AT_DA | indianNumber }}</td>
              <td>{{ reportTotals.MENTOR_PENDING | indianNumber }}</td>
              <td>
                {{ reportTotals.TOTAL_INVALID_BNK_ACC_APPROVED | indianNumber }}
              </td>
              <td>
                {{ reportTotals.TOTAL_INVALID_BNK_ACC_REJECTED | indianNumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
