<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">
      {{ headingText }}
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-12">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="volunteerMilkPouringDetails?.length < 1"
      >
        <table
          class="table table-bordered ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th rowspan="2">S.No.</th>
              <th rowspan="2">District</th>
              <th rowspan="2">Mandal</th>
              <th rowspan="2">RBK</th>
              <th rowspan="2">RBK Code</th>
              <th rowspan="2">AMCU Code</th>
              <th rowspan="2">Village</th>
              <th rowspan="2">Farmer Code</th>
              <th rowspan="2">Farmer Name</th>
              <th rowspan="2">Mobile Number</th>
              <th rowspan="2">Volunteer ID</th>
              <th colspan="2">
                No Of Milch Cattle Owned By Village Volunteer As Per Survey
                Report
              </th>
            </tr>
            <tr>
              <th>Cows</th>
              <th>Buffalos</th>
            </tr>
          </thead>
          <tbody *ngIf="volunteerMilkPouringDetails?.length > 0">
            <tr *ngFor="let obj of volunteerMilkPouringDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.DISTRICT }}</td>
              <td>{{ obj.MANDAL_NAME }}</td>
              <td>{{ obj.RBK_NAME }}</td>
              <td>{{ obj.RBK_CODE }}</td>
              <td>{{ obj.AMCU_CODE }}</td>
              <td>{{ obj.VILLAGE_NAME }}</td>
              <td>{{ obj.FARMER_CODE }}</td>
              <td>{{ obj.FARMER_NAME }}</td>
              <td>{{ obj.MOBILE_NUMBER }}</td>
              <td>{{ obj.VOLUNTEER_ID }}</td>
              <td>{{ obj.COWS }}</td>
              <td>{{ obj.BUFFALOS }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
