<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-green-gradient">
    <!-- Navbar brand -->
    <a class="navbar-brand d-flex align-items-center" style="cursor: pointer">
        <img class="brand-logo" src="https://apddcf.ap.gov.in/cdn/img/ap-logo.png" style="width: 50px" />
        <h5 class="brand-text text-white mb-0 font-weight-normal ml-1">
            Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)
        </h5>
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-right">
                <a class="navbar-brand d-flex align-items-center" style="cursor: pointer">
                    <img class="brand-logo" src="https://apddcf.ap.gov.in/cdn/img/CM.png" style="width: 50px" />
                    <div class="text-center">
                        <h6 class="brand-text text-white mb-0 font-weight-normal ml-1">
                            Sri Nara Chandrababu Naidu
                        </h6>
                        <p style="font-size: 12px; margin-bottom: 0; color: #fff">
                            Hon’ble Chief Minister, <br />
                            Andhra Pradesh
                        </p>
                    </div>  
                </a>
            </li>
        </ul>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<!--Menu-Navbar -->
<nav class="
    menu-navbar
    navbar navbar-expand-lg navbar-dark
    primary-color-dark
    py-md-0
    text-white
  ">
    <a class="navbar-brand d-md-none d-block" style="cursor: pointer">MENU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto align-items-center">
            <!-- <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="FarmerRegistrationStatus"
          ><i class="fas fa-address-card"></i> Farmer Registration Status</a
        >
      </li> -->
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="cursor: pointer"><i class="fab fa-wpforms"></i><span style="font-size: small;">ML1 -
                    </span> MENU
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" routerLink="MdacBankAccDetailReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.1 - </span>MDAC Bank Account
                        Report</a>
                    <a class="dropdown-item" routerLink="FarmerBankBAUStatusMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.2 - </span>Invalid Bank Account
                        Report</a>
                    <a class="dropdown-item" routerLink="BmcuConstructionMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.3 - </span>BMCU Construction
                        Report</a>
                    <a class="dropdown-item" routerLink="MomMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.4 - </span>Minutes Of Meeting
                        Report</a>
                    <a class="dropdown-item" routerLink="PacsLandAllotmentMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.5 - </span>MPFC Land Allotment
                        Report</a>
                    <a class="dropdown-item" routerLink="LandAllotmentMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.6 - </span>BMCU Land Allotment
                        Report</a>
                    <a class="dropdown-item" routerLink="amcuLandAllotmentMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML1.7 - </span>AMCU Land Allotment
                        Report</a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="cursor: pointer"><i class="fab fa-wpforms"></i> <span style="font-size: small;">ML2 -
                    </span>FARMER REPORTS
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" routerLink="VvFarmerDataMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.1 - </span>Volunteer Farmer
                        Registration Report</a>
                    <a class="dropdown-item" routerLink="FarmerRegRbkReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.1 - </span>Farmer Registration
                        Report</a>
                    <a class="dropdown-item" routerLink="VvHHAnimalsMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.2 - </span>Volunteer Farmer
                        HouseHold Report</a>
                    <a class="dropdown-item" routerLink="FarmerApprovalRoutesReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.3 - </span>Farmer Approval
                        Report</a>
                    <a class="dropdown-item" routerLink="FarmerSmsMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.3 - </span>Farmer SMS Report</a>
                    <a class="dropdown-item" routerLink="FarmerMilkPouringMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.4 - </span>Volunteer Wise Farmer
                        Milk Pouring report</a>
                    <a class="dropdown-item" routerLink="FarmerSchemeMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.5 - </span>Farmer Scheme Wise
                        Report</a>
                    <a class="dropdown-item" routerLink="VafMandalLevelReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.6 - </span>Volunteer As Farmer
                        Report</a>
                    <a class="dropdown-item" routerLink="FarmerAbstractTxnMandalReport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML2.7 - </span>Farmer Abstract
                        Transaction Report</a>
                    <a class="dropdown-item" routerLink="vaowisefarmersreport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <span style="font-size: small;">ML2.8 - </span>VO Wise Farmers Report</a>


                    <!-- <a
          class="dropdown-item"
          routerLink="CheyuthaMandalReport"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span style="font-size: small;">ML2.7 - </span>Cheyutha Mandal  Report</a
        > -->


                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="cursor: pointer"><i class="fab fa-wpforms"></i><span style="font-size: x-small;">ML3 -
                    </span> MDSS
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">


                    <a class="dropdown-item" routerLink="mdssregistrationrept" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML3.1 - </span>MDSS Reg Report</a>



                    <a class="dropdown-item" routerLink="mdssfollowupabstractreport" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"><span style="font-size: small;">ML3.2 - </span>MDSS Followup Abstract
                        Report</a>
                    <!-- <a
                                class="dropdown-item"
                                routerLink="MdssPromotersMilkPouringStatus"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                ><span style="font-size: small;">ST3.3 - </span>MDSS Promoters Milk Pouring Status</a
                                > -->

                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" style="display:none;">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="cursor: pointer"><i class="fab fa-wpforms"></i> <span style="font-size: small;">ML4 -
                    </span>GUIDELINES
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">
                    <a *ngFor="let guideLine of guideLines; let i = index " class="dropdown-item" style="cursor: pointer"
                        (click)="btnDocumentDownload(guideLine.URL)"><span style="font-size: small;">ML4.{{ i + 1 }} - </span>
                        {{ guideLine.NAME }}
                    </a>
                </div>
            </li>






            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="cursor: pointer"><i class="fab fa-wpforms"></i> <span style="font-size: small;">ML5 -
                    </span>USER MANUALS
                </a>
                <ul class="dropdown-menu multi-level dropdown-primary custom-sub-dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDocumentDownload(kccApplicationFormUrl)">
                            <span style="font-size: small;">ML5.1 - </span>KCC Application Form
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(1)">
                            <span style="font-size: small;">ML5.2 - </span>Invalid Bank Account Updation
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(2)">
                            <span style="font-size: small;">ML5.3 - </span>Mentor Village Meeting PART-I
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(15)">
                            <span style="font-size: small;">ML5.4 - </span> Edit Secretary & Assistant Secretary Details
                        </a>
                    </li>
                    <li> <span style="color:brown;font-weight:bold">Inspection</span> </li>
                    <!-- <li class="dropdown-submenu">
            
            
            <a
              class="dropdown-item"
              style="cursor: pointer"
              routerLinkActive="active"
              >Inspection <i class="fa fa-angle-right"></i>              
            </a>
            <ul class="dropdown-menu"> -->
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(4)">
                            <span style="font-size: small;">ML5.5 - </span>Milk Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(5)">
                            <span style="font-size: small;">ML5.6 - </span> Society Inspection
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(6)">
                            <span style="font-size: small;">ML5.7 - </span>Payment Inspection
                        </a>
                    </li>
                    <!-- </ul>
          </li> -->

                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(7)">
                            <span style="font-size: small;">ML5.8 - </span> Issue Tracking
                        </a>
                    </li>

                    <li style="color:brown;font-weight:bold"> <span style="color:brown;font-weight:bold"> BMCU Contruction </span> </li>

                    <!-- <li class="dropdown-submenu">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              routerLinkActive="active"
              >BMCU Contruction <i class="fa fa-angle-right"></i>
            </a>
            <ul class="dropdown-menu"> -->
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(8)">
                            <span style="font-size: small;">ML5.9 - </span> Feasibility Of Land
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(9)">
                            <span style="font-size: small;">ML5.10 - </span>Registration Of Land
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(10)">
                            <span style="font-size: small;">ML5.11 - </span>Other Facilities At Site
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(11)">
                            <span style="font-size: small;">ML5.12 - </span>Basement Level
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(12)">
                            <span style="font-size: small;">ML5.13 - </span>Super Structure Level
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(13)">
                            <span style="font-size: small;">ML5.14 - </span>Finishing Level
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(14)">
                            <span style="font-size: small;">ML5.15 - </span>Other Infrastructure
                        </a>
                    </li>
                    <!-- </ul>
          </li> -->

                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(16)">
                            <span style="font-size: small;">ML5.16 - </span>Farmer Milk Pouring Certificate
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(17)">
                            <span style="font-size: small;">ML5.17 - </span>Farmer Dead & Migration Approvals
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="cursor: pointer" (click)="btnDownloadUsermentorManual(18)">
                            <span style="font-size: small;">ML5.18 - </span> Farmer Feed Indent Approvals
                        </a>
                    </li>
                </ul>
            </li>












        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                    <h6 class="mb-0 mr-1">
                        Welcome <b>{{ userName }}</b>
                    </h6>
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">
                    <!-- <a class="dropdown-item" href="#" routerLink="">Profile</a> -->
                    <a class="dropdown-item" style="cursor: pointer" (click)="btnLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <hr class="my-1" />
                    <a class="dropdown-item text-center" style="cursor: pointer">
                        <span>Last logged in: <br />
                            <b class="text-danger">{{ lastLoginTime }}</b></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Menu-Navbar -->

<!--Main Content -->
<div id="page-container">
    <div id="content-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Content -->
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center pt-3">
            <a style="cursor: pointer; color: #fff">
                <img src="https://apddcf.ap.gov.in/cdn/img/apddcf-circle.png" style="width: 30px" />
                Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)
            </a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--/.Footer-Content -->
</div>
<!--/.Main-Content -->