<div class="card">
    <div class="card-header p-2">
        <h5 class="mb-0">Mandal Wise Report</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success btn-sm pull-right" (click)="btnExcel()">
                    <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
                    Download Excel
                </button>
                <!-- <button type="button" class="btn btn-danger btn-sm pull-right" (click)="btnPDF()">
                    <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
                    Download PDF
                </button> -->
            </div>
        </div>
        <div class="col-md-3">
            <h5>
                 DISTRICT :  <span class="text-success">{{districtName}}</span>
            </h5>
        </div>
        <div class="col-md-3">

        </div>
        <div class="row mt-2">
            <div class="col-md-12 table-responsive" [hidden]="dailyRegisteredFarmersDetails?.length < 1">
                <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead class="bg-success text-white" style="border: 1px solid white;">
                        <tr>
                            <th class="tableheader_color">S.No</th>
                            <th class="tableheader_color">Mandal </th>
                            <th class="tableheader_color">RBK </th>
                            <th class="tableheader_color">Village</th>                            
                            <th class="tableheader_color">No.of Women Farmers Registered</th>
                           
                        </tr>
                        <tr>
                            <th class="tableheader_color">(1)</th>
                            <th class="tableheader_color">(2)</th>
                            <th class="tableheader_color">(3)</th>
                            <th class="tableheader_color">(4)</th>
                            <th class="tableheader_color">(5)</th>
                            <!-- <th class="tableheader_color">(6)</th>
                            <th class="tableheader_color">(7)</th>
                            <th class="tableheader_color">(8)</th> -->
                        </tr>
                    </thead>
                    <tbody *ngIf="dailyRegisteredFarmersDetails?.length > 0" calss="table_cells_borders">
                        <tr *ngFor="let obj of dailyRegisteredFarmersDetails; let i = index">
                            <td class="number_align">{{ i + 1 }}</td>
                            <td style="text-align: left;" class="table_cells_borders">
                                <a style="cursor: pointer; text-decoration: underline" class="text-primary"
                                    (click)="btnGetDetails(obj)"><b>{{ obj.MANDAL_NAME }}</b></a>
                            </td>
                            <td class="number_align">{{ obj.TOTAL_RBKS }}</td>
                            <td class="number_align">{{ obj.TOTAL_VILLAGES }}</td>
                            <td class="number_align">{{ obj.TOTAL_FARMERS }}</td> 
                        </tr>
                    </tbody>

                    <tbody *ngIf="dailyRegisteredFarmersDetails?.length > 0">
                        <tr  >
                          <td class="number_align" style="border-color: cadetblue !important">--</td>
                          <td  class="text_align_color">
                            <b>TOTAL</b>
                          </td>                
                          
                          <td    class="font-weight-bold number_align">{{ reportTotals.RBKs }}</td>
                          <td   class="font-weight-bold number_align">{{ reportTotals.Villages }}</td>
                          <td   class="font-weight-bold number_align">{{ reportTotals.No_of_Women_Farmers_Registered }}</td> 
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>