<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading active" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <h5 class="mb-0 secondary-heading pb-0">Quick Links</h5>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body quik-links">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="#/state/villageLevelMeetingsStateLevelReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/milk-collection.svg" />
                                            </div>
                                            <label>Village Level Meetings Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/FarmerMpussRegStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/farmer-register.svg" />
                                            </div>
                                            <label>Farmer Registration Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/FarmerabstractTxnStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/attendance.svg" />
                                            </div>
                                            <label>Farmer Abstract Transaction Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/MpuacBankAccStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/mpuac.svg" />
                                            </div>
                                            <label>MDAC Bank Account Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/PromotersStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/promoters.svg" />
                                            </div>
                                            <label>Promoters Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/SecAsstSecStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/add-secretary.svg" />
                                            </div>
                                            <label>Secretary/Assistant Secretary Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/CalibrationStateLevelReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/calibration.svg" />
                                            </div>
                                            <label>Calibration Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/BuildingInspectionStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/inspection.svg" />
                                            </div>
                                            <label>Building Inspection Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/AmcuHandingOverStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/hand-over.svg" />
                                            </div>
                                            <label>AMCU Handing Over Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/FarmerMilkCollectionReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/attendance.svg" />
                                            </div>
                                            <label>Farmer Details Hits By Amul Teams Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/LoginReportStateLevel">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/schedule.svg" />
                                            </div>
                                            <label>Login Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/FutureDatesMilkPouringReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/attendance.svg" />
                                            </div>
                                            <label> Future Dates Milk Pouring Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/BuildingAbstractStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/inspection.svg" />
                                            </div>
                                            <label>Building Inspection Abstract Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/CheyuthaBankStateLevelReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/milk-collection.svg" />
                                            </div>
                                            <label>Govt Supported Scheme Bank Status Report</label>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#/state/LdmbankWiseStateReport">
                                            <div class="ql-circle">
                                                <img src="https://apddcf.ap.gov.in/cdn/icons/milk-collection.svg" />
                                            </div>
                                            <label> LDM Bank Report</label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end of panel -->
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-3" *ngIf="DateHide">
                    <div class="form-group">
                        <label for="Date">DATE </label>
                        <app-date-picker [PlaceHolder]="'Please Select Date'" [(selectedDate)]="Selected_Date"></app-date-picker>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="UNION_CODE">UNION </label>
                        <select class="form-control" [(ngModel)]="UNION_CODE" (change)="onunionChange()">
                            <option value="">-- ALL --</option>
                            <option value="{{ obj.UNION_CODE }}" *ngFor="let obj of unionList">
                                {{ obj.UNION_NAME }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="districtId">DISTRICT </label>
                        <select class="form-control" [(ngModel)]="districtId">
                            <!-- <option value="">-- ALL --</option> -->
                            <option selected value="{{ obj.DISTRICT_ID }}" *ngFor="let obj of districtList">
                                {{ obj.DISTRICT_NAME }}
                            </option>
                        </select>
                    </div>
                </div>




            </div>
            <div class="row">

                <app-dashboard-counts [Selected_Date]="Selected_Date" [districtId]="districtId"
                    (onCountsClickChange)="onCountsClickChange($event)"></app-dashboard-counts>
            </div>
        </div>

    </div>
    <app-dashboard-graphs [Selected_Date]="Selected_Date" [districtId]="districtId"
        (onReportsClickChange)="onReportsClickChange($event)"></app-dashboard-graphs>
</div>