<div class="row">
  <div class="col-md-3">
    <h5>
      <b> From Date : </b><span class="text-success">{{ fromDate }}</span>
    </h5>
  </div>
  <div class="col-md-3">
    <h5>
      <b>To Date : </b><span class="text-success">{{ toDate }}</span>
    </h5>
  </div>
  <div class="col-md-6">
    <button
      type="button"
      class="btn btn-primary btn-sm pull-right"
      (click)="btnBack()"
    >
      BACK
    </button>
  </div>
</div>
<app-village-meeting-village
  [(districtId)]="districtId"
  [(districtName)]="districtName"
  [(mentorId)]="mentorId"
  [(mentorName)]="mentorName"
  [(rbkId)]="rbkId"
  [(rbkName)]="rbkName"
  [(fromDate)]="fromDate"
  [(toDate)]="toDate"
  (onAttendanceClickChange)="onAttendanceClickChange($event)"
  (onFunctionariesClickChange)="onFunctionariesClickChange($event)"
  (onSecAssSecClickChange)="onSecAssSecClickChange($event)"
></app-village-meeting-village>
