<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Volunteer As Farmer RBK Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-4">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="rbkLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Village</th>
              <th>Volunteers Name</th>
              <th>Volunteers Mobile</th>
              <th>Cluster Name</th>
              <th>Aadhar</th>
              <th>Farmer Code</th>
              <th>No Of Days Milk Poured</th>
            </tr>
            <tr >             
              <th  class="tableheader_color"  >(1)</th>
              <th  class="tableheader_color" >(2)</th>
              <th  class="tableheader_color" >(3)</th>
              <th  class="tableheader_color" >(4)</th>
              <th  class="tableheader_color" >(5)</th>
              <th  class="tableheader_color" >(6)</th>
              <th  class="tableheader_color" >(7)</th>
              <th  class="tableheader_color" >(8)</th>
             
            </tr> 

          </thead>
          <tbody *ngIf="rbkLevelDetails?.length > 0">
            <tr *ngFor="let obj of rbkLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td class="text_align_color">{{ obj.SOCIETY_NAME }}</td>
              <td  class="text_align_color">{{ obj.VOLUNTEER_NAME }}</td>
              <td  class="text_align_color">{{ obj.VOLUNTEER_MOBILE }}</td>
              <td  class="text_align_color">{{ obj.CLUSTER_NAME }}</td>
              <td  class="number_align">{{ obj.UID_NUM }}</td>
              <td  class="number_align">{{ obj.FARMER_CODE }}</td>
              <td  class="number_align">{{ obj.TOT_NOOF_DAYS_MILK_POUR }} days</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
