<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">MDAC Bank Account RBK Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-6">
        <h5>
          <b> Mentor : </b><span class="text-success">{{ mentorName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="rbkLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>RBK</th>
              <th>Villages</th>
              <th>Villages Having MDAC Bank Account</th>
              <th>Villages Not Having MDAC Bank Account</th>
            </tr>
          </thead>
          <tbody *ngIf="rbkLevelDetails?.length > 0">
            <tr *ngFor="let obj of rbkLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  *ngIf="obj.TOTAL_MPUSS_BANK_VILLAGES !== '0'"
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.RBK_NAME }}</b></a
                >
                <span *ngIf="obj.TOTAL_MPUSS_BANK_VILLAGES === '0'">{{
                  obj.RBK_NAME
                }}</span>
              </td>
              <td>{{ obj.TOTAL_VILLAGES | indianNumber }}</td>
              <td>{{ obj.TOTAL_MPUSS_BANK_VILLAGES | indianNumber }}</td>
              <td>{{ obj.TOTAL_NOT_MPUSS_BANK_VILLAGES | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="rbkLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_VILLAGES | indianNumber }}</td>
              <td>
                {{ reportTotals.TOTAL_MPUSS_BANK_VILLAGES | indianNumber }}
              </td>
              <td>
                {{ reportTotals.TOTAL_NOT_MPUSS_BANK_VILLAGES | indianNumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
