<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Secretary/Assistant Secretary State Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="stateLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>District</th>
              <th>Routes</th>
              <th>Mentors</th>
              <th>RBKS</th>
              <th>Villages</th>
              <th>Secretaries</th>
              <th>Assistant Secretaries</th>
              <th>Secretaries Not Added</th>
              <th>Assistant Secretaries Not Added</th>
            </tr>
          </thead>
          <tbody *ngIf="stateLevelDetails?.length > 0">
            <tr *ngFor="let obj of stateLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.DISTRICT }}</b></a
                >
              </td>
              <td>{{ obj.TOTAL_ROUTES | indianNumber }}</td>
              <td>{{ obj.TOTAL_MENTOR | indianNumber }}</td>
              <td>{{ obj.TOTAL_RBK | indianNumber }}</td>
              <td>{{ obj.TOTAL_VILLAGES | indianNumber }}</td>
              <td>{{ obj.TOTAL_SECRETARY | indianNumber }}</td>
              <td>{{ obj.TOTAL_ASSI_SECRETARY | indianNumber }}</td>
              <td>{{ obj.NOT_ADDED_SECRETARY | indianNumber }}</td>
              <td>{{ obj.NOT_ADDED_ASSI_SECRETARY | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="stateLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_ROUTES | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_MENTOR | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_RBK | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_VILLAGES | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_SECRETARY | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_ASSI_SECRETARY | indianNumber }}</td>
              <td>{{ reportTotals.NOT_ADDED_SECRETARY | indianNumber }}</td>
              <td>
                {{ reportTotals.NOT_ADDED_ASSI_SECRETARY | indianNumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
