 
<div>
    
   
    <div class="job-login-body h-100">
        <div class="row m-0">
            <div class="col-md-10 mx-auto">
                <div class="d-md-flex justify-content-end align-items-center h-100">
                    <div class="col-md-4 job-form-card">
                        <div class="d-flex text-center mb-md-3 mb-2 login-header">
                            <img src="https://apddcf.ap.gov.in/cdn/img/ap-logo.png" class="mb-2" style="width: 80px;">
                            <h4 class="text-white login-main-title">Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)</h4>
                        </div>
                        <div class="text-center text-white mb-3">
                            <h5>Please Enter Your Credentials</h5>
                        </div>

                        <div class="px-md-3">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Enter Registered Mobile Number" maxlength="15" [(ngModel)]="username">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </span>
                                    <input type="Password" class="form-control" placeholder="Enter Password" maxlength="15" [(ngModel)]="Password">
                                </div>
                            </div>

                            

                            <div class="col-md-12 text-center px-0 mt-5">
                                <button type="submit" class="btn btn-md btn-block btn-success login-btn" (click)="btnLogin();">
                                    <i class="fas fa-sign-in-alt"></i> Signin
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 
