<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Farmer Registration Detail Report</h5>
  </div>
  <div class="card-body">
    <div class="row p-0">
      <div class="col-md-12 p-0">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="form-group">
          <label for="districtId"
            >District <span style="color: red">*</span></label
          >
          <select
            id="districtId"
            class="form-control"
            [(ngModel)]="districtId"
            (change)="onDistrictIdChange()"
          >
            <option value="">-- Select District --</option>
            <option
              value="{{ obj.DISTRICT_ID }}"
              *ngFor="let obj of districtList"
            >
              {{ obj.DISTRICT_NAME }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="reportType"
            >Report Type <span style="color: red">*</span></label
          >
          <select
            id="reportType"
            class="form-control"
            [(ngModel)]="reportType"
            (change)="onReportTypeChange()" 
          >
            <option value="">-- Select Report Type --</option>
            <option value="MDAC">MDAC</option>
            <option value="RBK">RBK</option>
            <option value="AMC">AMCU / Village</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="rbkAmcMdacId"
            >MDAC/RBK/AMCU/Village ID <span style="color: red">*</span></label
          >
          <input
            id="rbkAmcMdacId"
            type="text"
            class="form-control"
            [(ngModel)]="rbkAmcMdacId"
            placeholder="Please Enter MDAC/RBK/AMCU/VILLAGE ID"
            maxlength="15"
            autocomplete="off"
            (keypress)="numberOnly($event)"
          />
        </div>
      </div>
      <div class="col-md-3">
        <button
          type="button"
          class="btn btn-primary btn-sm mt-3"
          (click)="btnLoadReport()"
        >
          <i class="fa fa-arrow-right mr-2" aria-hidden="true"></i>
          GO
        </button>
        <!-- <button
          type="button"
          class="btn btn-danger btn-sm pull-right mt-3"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button> -->
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 table-responsive"
        [hidden]="personDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>District</th>
              <th>Mandal</th>
              <th>RBK</th>
              <th>Village</th>
              <th>MDAC ID</th>
              <th>AMC ID</th>
              <th>Farmer Code</th>
              <th><b>Farmer Name</b></th>
              <th>Mobile Number</th>
              <th>Bank Name</th>
              <th>Branch Name</th>
              <th>Ifsc Code</th>
              <th>Bank Pincode</th>
              <th>Account No</th>
              <th>MICR Code</th>
              <th>PAN No</th>
              <th>Aadhar No</th>
              <th>Registration Date</th>
              <th>Updated Date</th>
            </tr>
          </thead>
          <tbody *ngIf="personDetails?.length > 0">
            <tr *ngFor="let obj of personDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.DISTRICT }}</td>
              <td>{{ obj.MANDAL_NAME }}</td>
              <td>{{ obj.RBK_NAME }}</td>
              <td>{{ obj.MPUSS_NAME }}</td>
              <td>{{ obj.MDAC_CODE }}</td>
              <td>{{ obj.AMC_ID }}</td>
              <td>{{ obj.FARMER_CODE }}</td>
              <td>{{ obj.FARMER_NAME }}</td>
              <td>{{ obj.MOBILE_NUMBER }}</td>
              <td>{{ obj.BANK_NAME }}</td>
              <td>{{ obj.BRANCH_NAME }}</td>
              <td>{{ obj.IFSC_CODE }}</td>
              <td>{{ obj.BANK_PINCODE }}</td>
              <td>{{ obj.ACCOUNT_NUMBER }}</td>
              <td>{{ obj.MICR_CODE }}</td>
              <td>{{ obj.PAN_CARD }}</td>
              <td>{{ obj.AADHAR_NUM }}</td>
              <td>{{ obj.REGISTER_DATE }}</td>
              <td>{{ obj.UPDATED_DATE }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
