<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3" align="right">
        <button type="button" class="btn btn-primary btn-sm" (click)="btnBack()">
            Back
        </button>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <h5 class="mb-0">Eligible MDSS</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" [hidden]="CommonList?.length < 1">
                <button type="button" class="btn btn-success btn-sm pull-right" (click)="btnExcel()">
                    <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
                    Download Excel
                </button>
                <div class="col-md-12 table-responsive" [hidden]="CommonList?.length < 1">
                    <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead class="bg-success text-white">
                            <tr>
                                <th class="tableheader_color">S No</th>
                                <th class="tableheader_color">District</th>
                                <th class="tableheader_color">Division</th>
                                <th class="tableheader_color">Mandal</th>
                                <th class="tableheader_color">Name Of RBK</th>
                                <th class="tableheader_color">RBK Code</th>
                                <th class="tableheader_color">Eligible Members Count</th>
                            </tr>
                            <tr>
                                <th class="tableheader_color">(1)</th>
                                <th class="tableheader_color">(2)</th>
                                <th class="tableheader_color">(3)</th>
                                <th class="tableheader_color">(4)</th>
                                <th class="tableheader_color">(5)</th>
                                <th class="tableheader_color">(6)</th>
                                <th class="tableheader_color">(7)</th>
                            </tr>

                        </thead>
                        <tbody *ngIf="CommonList?.length > 0">
                            <tr *ngFor="let obj of CommonList; let i=index">
                                <td class="number_align">{{ i + 1 }}</td>
                                <td class="text_align_color">{{ obj.DISTRICT }}</td>
                                <td class="text_align_color">{{ obj.DIVISION_NAME }}</td>
                                <td class="text_align_color">{{ obj.MANDAL_NAME }}</td>
                                <td class="text_align_color">
                                    <a style="cursor: pointer; text-decoration: underline" class="text-primary"
                                        (click)="btnGetDetails(obj)"><b>{{ obj.RBK_NAME }}</b></a>
                                </td>

                                <td class="number_align">{{ obj.RBK_CODE}}</td>
                                <td class="number_align">{{ obj.NO_ELG_FARMERS }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>