<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Top 3 Milk Pourers</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h5 class="pull-left">
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <!-- <button
                type="button"
                class="btn btn-danger btn-sm pull-right"
                (click)="btnPDF()"
              >
                <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
                Download PDF
              </button> -->
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 table-responsive"
        [hidden]="topMilkPourerDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>District</th>
              <th>Mandal</th>
              <th>Route</th>
              <th>MDAC</th>
              <th>No. Of Pourers In The Village</th>
              <th>Name Of Pourers To The Society</th>
              <th>Quantity Of Milk Poured In Liters</th>
              <th>Amount</th>
              <th>AVG RATE/LTR</th>
            </tr>
          </thead>
          <tbody *ngIf="topMilkPourerDetails?.length > 0">
            <tr *ngFor="let obj of topMilkPourerDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.DISTRICT }}</td>
              <td>{{ obj.MANDAL_NAME }}</td>
              <td>{{ obj.ROUTE_NAME }}</td>
              <td>{{ obj.MPUSS_CODE }}</td>
              <td>{{ obj.TOTAL_MILK_POURERS | indianNumber }}</td>
              <td>{{ obj.FARMER_NAME }}</td>
              <td>{{ obj.TOTAL_MILK | indianNumber }}</td>
              <td>{{ obj.TOTAL_AMOUNT | indianNumber }}</td>
              <td>{{ obj.AVG_TOTAL_AMOUNT | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="topMilkPourerDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>{{ reportTotals.TOTAL_MILK_POURERS | indianNumber }}</td>
              <td>--</td>
              <td>{{ reportTotals.TOTAL_MILK | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_AMOUNT | indianNumber }}</td>
              <td>{{ reportTotals.AVG_TOTAL_AMOUNT | indianNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="col-md-12 table-responsive"
        *ngIf="topMilkPourerDetails?.length < 1"
      >
        <h5 class="text-danger text-center">No Data Available</h5>
      </div>
    </div>
  </div>
</div>
