<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Calibration Mentor Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="mentorLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Mentor Name</th>
              <th>Routes</th>
              <th>RBKS</th>
              <th>Villages</th>
              <th>Calibration Done In Villages</th>
              <th>Calibration Not In Done Villages</th>
            </tr>
          </thead>
          <tbody *ngIf="mentorLevelDetails?.length > 0">
            <tr *ngFor="let obj of mentorLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.MENTOR_NAME }}</b></a
                >
              </td>
              <td>{{ obj.TOTAL_ROUTES | indianNumber }}</td>
              <td>{{ obj.TOTAL_RBK | indianNumber }}</td>
              <td>{{ obj.TOTAL_VILLAGES | indianNumber }}</td>
              <td>{{ obj.TOTAL_CALIB_DONE_VILLAGES | indianNumber }}</td>
              <td>{{ obj.TOTAL_CALIB_NOT_DONE_VILLAGES | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="mentorLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_ROUTES | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_RBK | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_VILLAGES | indianNumber }}</td>
              <td>
                {{ reportTotals.TOTAL_CALIB_DONE_VILLAGES | indianNumber }}
              </td>
              <td>
                {{ reportTotals.TOTAL_CALIB_NOT_DONE_VILLAGES | indianNumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
