<div class="card" [hidden]="societyWiseDetails?.length < 1">
  <div class="card-header p-2">
    <h5 class="mb-0">MDAC Society Wise Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
        <div
          class="col-md-12 table-responsive"
          [hidden]="societyWiseDetails?.length < 1"
        >
          <table
            class="table table-striped ah-table text-center"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead class="bg-success text-white">
              <tr>
                <th>S.No.</th>
                <th>Mandal</th>
                <th>Route</th>
                <th>RBK</th>
                <th>Village</th>
                <th>MDAC Code</th>
                <th>Bank Name</th>
                <th>Ifsc Code</th>
                <th>Branch</th>
                <th>Bank Account No</th>
                <th>Secretary Name</th>
                <th>Secretary Mobile Number</th>
                <th>PAN No</th>
                <th>Pincode</th>
              </tr>
            </thead>
            <tbody *ngIf="societyWiseDetails?.length > 0">
              <tr *ngFor="let obj of societyWiseDetails; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ obj.MANDAL_NAME }}</td>
                <td>{{ obj.ROUTE_NAME }}</td>
                <td>{{ obj.RBK_NAME }}</td>
                <td>{{ obj.VILLAGE_NAME }}</td>
                <td>{{ obj.MPUSS_CODE }}</td>
                <td>{{ obj.BANK_NAME }}</td>
                <td>{{ obj.IFSCCODE }}</td>
                <td>{{ obj.BRANCH_NAME }}</td>
                <td>{{ obj.BANK_ACCOUNT_NO }}</td>
                <td>{{ obj.SECRETARY_NAME }}</td>
                <td>{{ obj.SECRETARY_MBL_NUM }}</td>
                <td>{{ obj.PAN_NO }}</td>
                <td>{{ obj.PINCODE }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
