<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Payment Status RBK Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-4">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="rbkLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Village</th>
              <th>AMC ID</th>
              <th>Registered Farmers</th>
              <th>Milk Pouring Farmers</th>
              <th>Amount Paid</th>
              <th>Amount Yet To Be Paid</th>
            </tr>
          </thead>
          <tbody *ngIf="rbkLevelDetails?.length > 0">
            <tr *ngFor="let obj of rbkLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.VILLAGE_NAME }}</td>
              <!-- <td>
                  <a style="cursor: pointer; text-decoration: underline;" class="text-primary" (click)="btnGetDetails(obj);"><b>{{ obj.VILLAGE_NAME }}</b></a>
                </td> -->
              <td>{{ obj.AMC_ID }}</td>
              <td>{{ obj.REG_FARMERS | indianNumber }}</td>
              <td>{{ obj.MILK_POURING_FARMERS | indianNumber }}</td>
              <td>{{ obj.AMOUNT_PAID | indianNumber }}</td>
              <td>{{ obj.YET_TO_PAY | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="rbkLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.REG_FARMERS | indianNumber }}</td>
              <td>{{ reportTotals.MILK_POURING_FARMERS | indianNumber }}</td>
              <td>{{ reportTotals.AMOUNT_PAID | indianNumber }}</td>
              <td>{{ reportTotals.YET_TO_PAY | indianNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
