<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Farmer Approved List</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-4">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Route : </b><span class="text-success">{{ routeName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Village : </b><span class="text-success">{{ villageName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="approvedListDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Farmer Name</th>
              <th>Aadhar No</th>
              <th>Mobile No</th>
              <th>Bank Name</th>
              <th>Branch Name</th>
              <th>Ifsc Code</th>
              <th>MICR Code</th>
              <th>Bank Pincode</th>
              <th>Account No</th>
              <th>PAN card</th>
              <th>Milk Potential Buffalo</th>
              <th>Milk Potential Cow</th>
              <th>No OF Buffalo Male</th>
              <th>No OF Buffalo Female</th>
              <th>No OF Whote Cattle Female</th>
              <th>No OF Whote Cattle Male</th>
              <th>No OF Milch Animals Cow</th>
              <th>Passbook Image</th>
              <th>Inserted Date</th>
              <th>Approved By</th>
              <th>Updated Date</th>
            </tr>
          </thead>
          <tbody *ngIf="approvedListDetails?.length > 0">
            <tr *ngFor="let obj of approvedListDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.FARMER_NAME }}</td>
              <td>{{ obj.UID_NUM }}</td>
              <td>{{ obj.MOBILE_NUMBER }}</td>
              <td>{{ obj.BANK_NAME }}</td>
              <td>{{ obj.BANK_BRANCH }}</td>
              <td>{{ obj.IFSC_CODE }}</td>
              <td>{{ obj.MICR_CODE }}</td>
              <td>{{ obj.BANK_PINCODE }}</td>
              <td>{{ obj.ACCOUNT_NUMBER }}</td>
              <td>{{ obj.PAN_CARD }}</td>
              <td>{{ obj.MILK_POTENTIAL_BUFFALO }}</td>
              <td>{{ obj.MILK_POTENTIAL_COW }}</td>
              <td>{{ obj.NOOFBUFFALOMALE }}</td>
              <td>{{ obj.NOOFBUFFALOFEMALE }}</td>
              <td>{{ obj.NOOFWHITECALLTEFEMALE }}</td>
              <td>{{ obj.NOOFWHITECATTLEMALE }}</td>
              <td>{{ obj.NO_OF_MILCH_ANIMALS_COW }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  *ngIf="
                    obj.PASSBOOK_IMG !== null &&
                    obj.PASSBOOK_IMG !== '' &&
                    obj.PASSBOOK_IMG !== undefined
                  "
                  (click)="btnPhotoView(obj.PASSBOOK_IMG)"
                >
                  VIEW
                </button>
                <span
                  *ngIf="
                    obj.PASSBOOK_IMG === null ||
                    obj.PASSBOOK_IMG === '' ||
                    obj.PASSBOOK_IMG === undefined
                  "
                  >NA</span
                >
              </td>
              <td>{{ obj.INSERTED_DATE }}</td>
              <td>{{ obj.APPROVED_BY_PERSON_NAME }}</td>
              <td>{{ obj.UPDATED_DATE }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
