<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">LDM Bank State Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div
        class="col-md-12 table-responsive"
        [hidden]="stateLevelDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>District</th>
              <th>Branches</th>
              <th>Applications</th>
              <th>To Be Verified</th>
              <th>Approved</th>
              <th>Rejected</th>
            </tr>
          </thead>
          <tbody *ngIf="stateLevelDetails?.length > 0">
            <tr *ngFor="let obj of stateLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.DISTRICT }}</b></a
                >
              </td>
              <td>{{ obj.TOTAL_BRANCH | indianNumber }}</td>
              <td>{{ obj.TOTAL_APPLICATION | indianNumber }}</td>
              <td>{{ obj.TO_BE_VERIFIED | indianNumber }}</td>
              <td>{{ obj.APPROVED | indianNumber }}</td>
              <td>{{ obj.REJECTED | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="stateLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_BRANCH | indianNumber }}</td>
              <td>{{ reportTotals.TOTAL_APPLICATION | indianNumber }}</td>
              <td>{{ reportTotals.TO_BE_VERIFIED | indianNumber }}</td>
              <td>{{ reportTotals.APPROVED | indianNumber }}</td>
              <td>{{ reportTotals.REJECTED | indianNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
