<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Village Level Meetings Functionaries Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-3">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-3">
        <h5>
          <b> Mentor : </b><span class="text-success">{{ mentorName }}</span>
        </h5>
      </div>
      <div class="col-md-3">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="functionaryDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Village</th>
              <th>Route ID</th>
              <th>Route Position</th>
              <th>Village Clasification</th>
              <th>Network With Max Coverage</th>
              <th>Milk Production Per Day</th>
              <th>Animal Husbandry Assistant Name</th>
              <th>Animal Husbandry Assistant Mobile No</th>
              <th>Digital Assistant Name</th>
              <th>Digital Assistant Mobile No</th>
              <th>Village Animator Name Serpdept</th>
              <th>Village Animator Mobile No</th>
              <th>Wellfare Assistant Name</th>
              <th>Wellfare Assistant Mobile No</th>
            </tr>
          </thead>
          <tbody *ngIf="functionaryDetails?.length > 0">
            <tr *ngFor="let obj of functionaryDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.VILLAGE_NAME }}</td>
              <td>{{ obj.ROUTE_NAME }}</td>
              <td>{{ obj.ROUTE_POSITION }}</td>
              <td>{{ obj.VILLAGE_CLASIFICATION }}</td>
              <td>{{ obj.NETWORK_WITH_MAX_COV }}</td>
              <td>{{ obj.MILK_PRODUCTION_PER_DAY }}</td>
              <td>{{ obj.ANIMAL_HUSB_ASSI_NAME }}</td>
              <td>{{ obj.ANIMAL_HUSB_ASSI_MOBILENO }}</td>
              <td>{{ obj.DIGITAL_ASSI_NAME }}</td>
              <td>{{ obj.DIGITAL_ASSI_MOBILE_NO }}</td>
              <td>{{ obj.VILL_ANIMATOR_NAME_SERPDEPT }}</td>
              <td>{{ obj.VILL_ANIMATOR_MOBILENO }}</td>
              <td>{{ obj.WELLFARE_ASSI_NAME }}</td>
              <td>{{ obj.WELLFARE_ASSI_MNO }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
