<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Volunteer Farmer HouseHold RBK Level Report</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm pull-right"
          (click)="btnPDF()"
        >
          <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
          Download PDF
        </button>
      </div>
      <div class="col-md-4">
        <h5>
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> Mandal : </b><span class="text-success">{{ mandalName }}</span>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          <b> RBK : </b><span class="text-success">{{ rbkName }}</span>
        </h5>
      </div>
      <div
        class="col-md-12 table-responsive"
        [hidden]="clusterLevelDetails?.length < 1"
      >
        <table
          class="table table-bordered ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th rowspan="2">S.No.</th>
              <th rowspan="2">Cluster ID</th>
              <th rowspan="2">Cluster</th>
              <th rowspan="2">Volunteer Logged In</th>
              <th rowspan="2">Village</th> 
              <th rowspan="2">Households</th>
              <th rowspan="2">Death</th>
              <th rowspan="2">Migrated</th>
              <th colspan="5">Surveyed Households</th>
              <th rowspan="2">Pending Households</th>
              <th colspan="4">Household As Per AH DEPT</th>
            </tr>
            <tr>
              <th>Total</th>
              <th>With Animals</th> 
              <th>No Of Animals</th>
              <th>Without Animals</th>
              <th>Total ReServeyed</th>

              <th>Total</th>
              <th>With Animals</th>
              <th>Total Animals</th>
              <th>Without Animals</th>
            </tr>

            <tr >             
              <th  class="tableheader_color"  >(1)</th>
              <th  class="tableheader_color" >(2)</th>
              <th  class="tableheader_color" >(3)</th>
              <th  class="tableheader_color" >(4)</th>
              <th  class="tableheader_color" >(5)</th>
              <th  class="tableheader_color" >(6)</th>
              <th  class="tableheader_color" >(7)</th>
              <th  class="tableheader_color" >(8)</th>
              <th  class="tableheader_color" >(9)</th>
              <th  class="tableheader_color" >(10)</th>
              <th  class="tableheader_color"  >(11)</th>
              <th  class="tableheader_color" >(12)</th>
              <th  class="tableheader_color" >(13)</th>
              <th  class="tableheader_color" >(14)</th>
              <th  class="tableheader_color" >(15)</th>
              <th  class="tableheader_color" >(16)</th>
              <th  class="tableheader_color" >(17)</th>
              <th  class="tableheader_color" >(18)</th>
         
             
            </tr> 




          </thead>
          <tbody *ngIf="clusterLevelDetails?.length > 0">
            <tr *ngFor="let obj of clusterLevelDetails; let i = index">
              <td>{{ i + 1 }}</td>

              <td class="number_align">{{ obj.CLUSTER_ID }}</td>
              <td  class="text_align_color">{{ obj.CLUSTERNAME }}</td>
              <td  class="text_align_color">
                <span *ngIf="obj.LOGIN_STATUS === '0'"><b>NO</b></span>
                <span *ngIf="obj.LOGIN_STATUS === '1'"><b>YES</b></span>
              </td>
              <td  class="text_align_color">{{ obj.VILLAGE_NAME }}</td>
              <td class="number_align">{{ obj.TOTAL_HH | indianNumber }}</td>
              <td class="number_align">{{ obj.SUYVYED_DEAD | indianNumber }}</td>
              <td class="number_align">{{ obj.SUYVYED_MIGRATED | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_SUR_HH | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_FARMERS_WITH_AINM_HH | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_ANIMALS | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_FARMERS_WITH_OUT_AINM_HH | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_RESURVEYED_HH | indianNumber }}</td>
              <td class="number_align"> 
                <a
                  *ngIf="obj.TOTAL_PENDING !== '0'"
                  style="cursor: pointer; text-decoration: underline"
                  class="text-primary"
                  (click)="btnGetDetails(obj)"
                  ><b>{{ obj.TOTAL_PENDING }}</b></a
                >
                <span *ngIf="obj.TOTAL_PENDING === '0'"
                  ><b>{{ obj.TOTAL_PENDING }}</b></span
                >
              </td>

             
              <td class="number_align">{{ obj.TOTAL_AH_DEPT_HH | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_FMR_WITH_AINM_AH_HH | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_ANIMALS_AH | indianNumber }}</td>
              <td class="number_align">{{ obj.TOTAL_FMR_WITH_OUT_AINM_AH_HH | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="clusterLevelDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td><b>TOTAL</b></td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_HH | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.SUYVYED_DEAD | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.SUYVYED_MIGRATED | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_SUR_HH | indianNumber }}</td>
              <td class="font-weight-bold number_align">
                {{ reportTotals.TOTAL_FARMERS_WITH_AINM_HH | indianNumber }}
              </td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_ANIMALS | indianNumber }}</td>
              <td class="font-weight-bold number_align">
                {{ reportTotals.TOTAL_FARMERS_WITH_OUT_AINM_HH | indianNumber }}
              </td>
              <td class="font-weight-bold number_align">
                {{ reportTotals.TOTAL_RESURVEYED_HH | indianNumber }}
              </td>

              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_PENDING | indianNumber }}</td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_AH_DEPT_HH | indianNumber }}</td>
              <td class="font-weight-bold number_align">
                {{ reportTotals.TOTAL_FMR_WITH_AINM_AH_HH | indianNumber }}
              </td>
              <td class="font-weight-bold number_align">{{ reportTotals.TOTAL_ANIMALS_AH | indianNumber }}</td>
              <td class="font-weight-bold number_align">
                {{ reportTotals.TOTAL_FMR_WITH_OUT_AINM_AH_HH | indianNumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
