<div class="card">
  <div class="card-header p-2">
    <h5 class="mb-0">Milk Pourers Status</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h5 class="pull-left">
          <b> District : </b
          ><span class="text-success">{{ districtName }}</span>
        </h5>
        <button
          type="button"
          class="btn btn-success btn-sm pull-right"
          (click)="btnExcel()"
        >
          <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
          Download Excel
        </button>
        <!-- <button
                type="button"
                class="btn btn-danger btn-sm pull-right"
                (click)="btnPDF()"
              >
                <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
                DOWNLOAD PDF
              </button> -->
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 table-responsive"
        [hidden]="discontinuedVillagesDetails?.length < 1"
      >
        <table
          class="table table-striped ah-table text-center"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
          <thead class="bg-success text-white">
            <tr>
              <th>S.No.</th>
              <th>Year</th>
              <th>Month</th>
              <th>No. Of Milk Pourers</th>
              <th>No. Of ADDED Milk Pourers</th>
              <th>No. Of DROPPED Milk Pourers</th>
            </tr>
          </thead>
          <tbody *ngIf="discontinuedVillagesDetails?.length > 0">
            <tr *ngFor="let obj of discontinuedVillagesDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ obj.TXN_YEAR }}</td>
              <td>{{ obj.MONTH_NAME }}</td>
              <td>{{ obj.TOTAL_MILK_POURERS | indianNumber }}</td>
              <td>{{ obj.ADDED_MILK_POURERS | indianNumber }}</td>
              <td>{{ obj.DROPPED_MILK_POURERS | indianNumber }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="discontinuedVillagesDetails?.length > 0">
            <tr>
              <td>--</td>
              <td>--</td>
              <td>
                <b>TOTAL</b>
              </td>
              <td>{{ reportTotals.TOTAL_MILK_POURERS | indianNumber }}</td>
              <td>
                {{ reportTotals.ADDED_MILK_POURERS | indianNumber }}
              </td>
              <td>
                {{ reportTotals.DROPPED_MILK_POURERS | indianNumber }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
